
#student-table {
  border-collapse: collapse;
  width: 100%;
}

#student-table th, #student-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#student-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#student-table th {
  background-color: #4CAF50;
  color: white;
}
